# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/

# ML models
*.joblib
*.pkl

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db